<button class="btn btn-primary mb-3" routerLink="">back</button>
<h3
  class="mb-5 text-center rounded p-2"
  style="background-color: rgb(53, 114, 238)"
>
  Add Topic
</h3>
<form [formGroup]="answerForm">
  <div class="row gx-5">
    <div class="col">
      <mat-form-field class="topic-autofill">
        <mat-label>Test Code</mat-label>
        <input type="text" matInput formControlName="testCode" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="topic-autofill">
        <mat-label>Question Number</mat-label>
        <input type="number" matInput formControlName="number" />
      </mat-form-field>
    </div>
  </div>
  <mat-form-field class="topic-autofill">
    <mat-label>Question Text</mat-label>
    <input type="text" matInput formControlName="question" />
  </mat-form-field>
  <mat-form-field class="topic-textarea">
    <mat-label>Answer</mat-label>
    <textarea matInput formControlName="answer"></textarea>
  </mat-form-field>
  <div class="form-outline mb-4">
    <label class="form-label">Images </label>
    <label for="files" class="btn btn-outline-primary ms-3"
      >select image from system</label
    >
    <input
      id="files"
      style="visibility: hidden"
      type="file"
      (change)="onFileSelect($event)"
      accept="image/*"
      multiple
    />
    <div class="container" (paste)="onPaste($event)" tabindex="0">
      <div cdkDropList class="images-list" (cdkDropListDropped)="drop($event)">
        @for (file of fileList; track $index) {
          <div class="images-box" matTooltip="drag to preview image" cdkDrag>
            {{ file.name }}
            <img
              *cdkDragPreview
              [src]="file.base64"
              [alt]="file.name"
              width="300px"
            />
            <button
              type="button"
              class="btn-close"
              (click)="onRemove($index)"
              aria-label="Close"
            ></button>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="row g-2">
      <div class="col-6">
        <div class="form-outline">
          <label class="form-label" for="typeAnswerX-2">written By</label>
          <mat-form-field class="topic-autofill">
            <input
              type="text"
              placeholder="Pick one"
              matInput
              formControlName="written"
              [matAutocomplete]="autoWrittenBy"
            />
            <mat-autocomplete
              #autoWrittenBy="matAutocomplete"
              [displayWith]="displayFn"
            >
              @for (option of obsWrittenByOpts | async; track option) {
                <mat-option [value]="option">{{ option.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-outline">
          <label class="form-label">Paper</label>
          <mat-form-field class="topic-autofill">
            <input
              type="text"
              placeholder="paper"
              matInput
              formControlName="paper"
              [matAutocomplete]="autoPaper"
            />
            <mat-autocomplete #autoPaper="matAutocomplete">
              @for (option of obsPaperOpts | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-outline">
          <label class="form-label">topicName</label>
          <mat-form-field class="topic-autofill">
            <input
              type="text"
              placeholder="topicName"
              matInput
              formControlName="topicName"
              [matAutocomplete]="autoTopic"
            />
            <mat-autocomplete #autoTopic="matAutocomplete">
              @for (option of obsTopicOpts | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6">
        <div class="form-outline">
          <label class="form-label">SubTopicName </label>
          <mat-form-field class="topic-autofill">
            <input
              type="text"
              placeholder="subTopicName"
              matInput
              formControlName="subtopicName"
              [matAutocomplete]="autoSubTop"
            />
            <mat-autocomplete #autoSubTop="matAutocomplete">
              @for (option of obsSubTopicOpts | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-lg btn-block" (click)="submit()">
    Submit
  </button>
</form>
