<button class="btn btn-primary mb-3" routerLink="">back</button>
<h3
  class="mb-5 text-center rounded p-2"
  style="background-color: rgb(53, 114, 238)"
>
  Topper
</h3>
<form [formGroup]="topperForm">
  <div class="row gx-5">
    <div class="col">
      <mat-form-field class="topic-autofill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Rank</mat-label>
        <input type="text" matInput formControlName="rank" />
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Year</mat-label>
        <input type="text" matInput formControlName="year" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Gs 1 marks</mat-label>
        <input type="text" matInput formControlName="gs_1_marks" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Gs 2 marks</mat-label>
        <input type="text" matInput formControlName="gs_2_marks" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Gs 3 marks</mat-label>
        <input type="text" matInput formControlName="gs_3_marks" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Gs 4 marks</mat-label>
        <input type="text" matInput formControlName="gs_4_marks" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Essay marks</mat-label>
        <input type="text" matInput formControlName="essay_marks" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Prelims score gs</mat-label>
        <input type="text" matInput formControlName="prelims_score_gs" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Prelims score csat</mat-label>
        <input type="text" matInput formControlName="prelims_score_csat" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Optional subject</mat-label>
        <input type="text" matInput formControlName="optional_subject" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Optional 1 marks</mat-label>
        <input type="text" matInput formControlName="optional_1_marks" />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="topic-autofill">
        <mat-label>Optional 2 marks</mat-label>
        <input type="text" matInput formControlName="optional_2_marks" />
      </mat-form-field>
    </div>
  </div>

  <mat-form-field class="topic-autofill">
    <mat-label>Remarks</mat-label>
    <input type="text" matInput formControlName="remarks" />
  </mat-form-field>

  <button class="btn btn-primary btn-lg btn-block" (click)="submit()">
    Submit
  </button>
</form>
