<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-81 col-lg-16 col-xl-15">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <h3 class="mb-5 text-center">Add Answers</h3>
            <form [formGroup]="answerForm">
              <div class="form-outline mb-4">
                <label class="form-label" for="typeTitleX-2">TestCode</label>
                <input
                  type="text"
                  id="typeTitleX-2"
                  class="form-control form-control-lg"
                  placeholder="testCode"
                  formControlName="testCode"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeQuestionTextX-2"
                  >Question number</label
                >
                <input
                  type="number"
                  id="typeQuestionTextX-2"
                  class="form-control form-control-lg"
                  placeholder="Question number"
                  formControlName="number"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2">Question</label>
                <input
                  type="text"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="question"
                  formControlName="question"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2">Answer</label>
                <textarea
                  type="date"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="answer"
                  formControlName="answer"
                ></textarea>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2">images</label>
                <input
                  type="file"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="images"
                  formControlName="images"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2">written By</label>
                <input
                  type="text"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="written"
                  formControlName="written"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2">Paper</label>
                <input
                  type="text"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="paper"
                  formControlName="paper"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2">topicName</label>
                <input
                  type="text"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="topicName"
                  formControlName="topicName"
                />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typeAnswerX-2"
                  >SubtopicName
                </label>
                <input
                  type="text"
                  id="typeAnswerX-2"
                  class="form-control form-control-lg"
                  placeholder="SubtopicName"
                  formControlName="subtopicName"
                />
              </div>

              <button
                class="btn btn-primary btn-lg btn-block"
                (click)="submit()"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
